@mixin gradient_text {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition_2 {
  transition: all 0.2s ease-in-out;
}

@mixin transition_3 {
  transition: all 0.3s ease-in-out;
}
